body {
    margin: 0;
    background-color: rgb(130, 68, 68);
}

header {
background-image: url("bench/clayfood.jpg");
}

.block {
    width: 80%;
    margin: 50px auto;
    border: 28px solid rgb(243, 237, 229);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.welcome{
    width: 100vw;
    height: 65vh;
    background-image: url("bench/clayfood.jpg");
    background-color: rgb(177, 229, 255);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.welcome h1{
    color:white;
    padding:15px;
    font-family: "Dosis";
    margin: 0;
    text-align: center;
    font-size: 100px;
}

